<ion-content class="ion-padding">
  <!-- Logo superior -->
  <div class="logo-container">
    <ion-img src="assets/logo2.svg"></ion-img>
  </div>

  <!-- Texto superior -->
  <h2 class="title">Edit your profile</h2>
  <p class="subtitle">Add your profile picture and enter your name</p>

  <!-- Imagen de perfil con botón de edición -->
  <div class="profile-container">
    <div class="profile-image">
      <ion-img [src]="profileImage" class="avatar"></ion-img>
      <button class="edit-button" (click)="changeProfilePicture()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </div>
  </div>

  <!-- Input de nombre -->
  <ion-input class="input-field" placeholder="Enter your name" [(ngModel)]="userName"></ion-input>

  <!-- Botón Done -->
  <ion-button expand="block" class="done-button" (click)="saveProfile()">Done</ion-button>
</ion-content>
