

<ion-header>
  <div class="custom-header">
    <img src="assets/logo2.svg" alt="Logo" class="header-logo">
    <!-- Título "Chats" alineado a la izquierda -->
    <h1 class="header-title">Chats</h1>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <!-- Barra de búsqueda, centrada o alineada según sea necesario -->
  <div class="search-container">
    <ion-searchbar show-clear-button="always" value="Always Show"></ion-searchbar>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
|